<nav class="nav-wrapper">
  <div class="nav-container">
    <div class="nav-left">
      <a
        class="nav-logo"
        routerLink=""
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >GymInfo</a
      >
    </div>
    <div class="nav-right">
      <ul class="menu">
        <li
          class="item"
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          About
        </li>
        <li
          class="item"
          routerLink="/profile"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <mat-icon>person</mat-icon>
        </li>
        <li class="item">
          <mat-icon>logout</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet />
